.Sub-Text-Panel--Left-Aligned,.Slider-Panel-Small-Text
{
	font-family: asap-n4, sans-serif;
}

.Slider-Slide-Title
{
	font-family: asap-n7, sans-serif;
}

#u112-8,#u109-6
{
	font-family: pt-sans-n7, sans-serif;
}

#u1029.PamphletThumbSelected #u2838-4 p,#u1143.PamphletThumbSelected #u2799-4 p,#u945.PamphletThumbSelected #u2871-4 p,#u1278.PamphletThumbSelected #u2766-4 p,#u514-13,#u851-6,#u846-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u840-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u837-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u850-6,#u82-4,#u84-4,#u85-4,#u86-4,#u87-4,#u76-6,#u81-4,#u526-6,#u540-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u531-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u582-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u78-4,#u126-4,#u146-4,#u2874-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u595-6,#u127-8,#u141-8,#u142-8,#u143-6,#u144-6,#u145-6,#u147-4,#u148-8,#u149-4,#u150-6,#u151-4,#u2871-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u2872-7
{
	font-family: pt-sans-n4, sans-serif;
}

#u2873-5
{
	font-family: pt-sans-n4, sans-serif;
}

#u2870-4,#u925-6,#u938-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u928-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u933-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u2841-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u943-6,#u2838-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u2839-11
{
	font-family: pt-sans-n4, sans-serif;
}

#u2840-7
{
	font-family: pt-sans-n4, sans-serif;
}

#u2837-4,#u1044-6,#u1050-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1054-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1061-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u2803-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u1045-6,#u2799-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u2800-17
{
	font-family: pt-sans-n4, sans-serif;
}

#u2801-7
{
	font-family: pt-sans-n4, sans-serif;
}

#u2798-4,#u1176-6,#u1173-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1165-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1163-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u2770-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u1175-6,#u2766-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u2767-19
{
	font-family: pt-sans-n4, sans-serif;
}

#u2768-7
{
	font-family: pt-sans-n4, sans-serif;
}

#u2765-4,#u1276-6,#u1266-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1272-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u1261-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u3066-4
{
	font-family: open-sans-n4, sans-serif;
}

#u3055-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu3065_input,#widgetu3065_prompt,#widgetu3053_input,#widgetu3053_prompt
{
	font-family: open-sans, sans-serif;
}

#u3069-10
{
	font-family: open-sans-n3, sans-serif;
}

#u2567-4
{
	font-family: open-sans-n8, sans-serif;
}

#u2568-6
{
	font-family: open-sans-n6, sans-serif;
}

#u2568-3
{
	font-family: open-sans-n7, sans-serif;
}

#u3069-2,#u3069-3,#u3069-7,#u3046-4,#u2568,#u2569-6,#u2573-6,#u2574-6,#u2572-6,#u2570-6,#u2571-6
{
	font-family: open-sans-n4, sans-serif;
}

#u2910-4,#u316-4,#u312-4,#u2500-4,#u2509-5,#u2509-7,#u455-4,#u4053-4,#u3989-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u1258-6,#u3731-4,#u1925-4,#u2051-4,#u1958-4,#u2509-2,#u2509-3,#u2512-7,#u4056-6,#u3981-6,#u3978-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u3970-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u3966-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu845_input,#widgetu845_prompt,#widgetu838_input,#widgetu838_prompt,#widgetu834_input,#widgetu834_prompt,#widgetu538_input,#widgetu538_prompt,#widgetu530_input,#widgetu530_prompt,#widgetu581_input,#widgetu581_prompt,#widgetu936_input,#widgetu936_prompt,#widgetu927_input,#widgetu927_prompt,#widgetu932_input,#widgetu932_prompt,#widgetu1047_input,#widgetu1047_prompt,#widgetu1052_input,#widgetu1052_prompt,#widgetu1058_input,#widgetu1058_prompt,#widgetu1171_input,#widgetu1171_prompt,#widgetu1164_input,#widgetu1164_prompt,#widgetu1160_input,#widgetu1160_prompt,#widgetu1265_input,#widgetu1265_prompt,#widgetu1269_input,#widgetu1269_prompt,#widgetu1260_input,#widgetu1260_prompt,#widgetu3976_input,#widgetu3976_prompt,#widgetu3969_input,#widgetu3969_prompt,#widgetu3964_input,#widgetu3964_prompt
{
	font-family: pt-sans, sans-serif;
}

#u3980-6
{
	font-family: pt-sans-n4, sans-serif;
}

